@page "/person/{id:int}"
@using SEP6_TEST.Components;
@using SEP6_TEST.ApiModels;
@using SEP6_TEST.ApiAccess;

@inject IMovieAccessInfoApi movieApi


@if (!isLoading)
{
    <h1 style="text-align:center">@biography.name</h1>

    <br />

    @if (!pictureUrl.Equals("https://image.tmdb.org/t/p/w500/"))
    {
        <img style="margin-left:auto;margin-right:auto;display: block;border-radius:10px" src="@pictureUrl" alt="MovieImage" />
    }
    else
    {
        <img style="margin-left:auto;margin-right:auto;display: block;border-radius:10px" src="/Images/image.png" alt="MovieImage" />
    }


    <br />

    <div class="card bg-info text-white">
        <h5 class="card-header text-center ">Description</h5>

        @if (!string.IsNullOrEmpty(biography.biography))
        {
            <h5 class="card-body text-center mb-2 mt-2">@biography.biography</h5>
        }
        else
        {
            <h5 class="card-body text-center mb-2 mt-2"> No Description available</h5>
        }

    </div>

    <br />

    <div class="card text-white bg-info rounded mx-auto text-center">
        <div class="card-body">

            @if (!string.IsNullOrEmpty(biography.birthday))
            {
                if (!string.IsNullOrEmpty(biography.place_of_birth))
                {
                    <h5>Born at @biography.birthday in @biography.place_of_birth</h5>
                }
                else
                {
                    <h5>Born at @biography.birthday</h5>
                }
            }
            else
            {
                <h5>Birth information not available</h5>
            }


            @if (!string.IsNullOrEmpty(biography.deathday))
            {
                <h5>Passed away in @biography.deathday</h5>
            }
        </div>

    </div>

    @*<div class="card bg-info text-white w-25 m-auto">
            <h5 class="card-text text-center mb-2 mt-2">Average movie rating @movieRating/10</h5>
        </div>*@
}
else
{
    <span>Loading</span>
}


<br />

@*maybe we will do it, just maybe or mayrtrwt*@

<!--<h1 style="text-align:center">Known from the following movies</h1>

<br />

<div style="justify-content:center">
    <div class="card-columns float-none mx-auto w-100">-->
@*@foreach (var movie in MovieDTOs)
    {

    }*@



<!--<MovieHolderComponent>

        </MovieHolderComponent>

        <MovieHolderComponent>

        </MovieHolderComponent>

        <MovieHolderComponent>

        </MovieHolderComponent>

        <MovieHolderComponent>

        </MovieHolderComponent>

        <MovieHolderComponent>

        </MovieHolderComponent>


    </div>
</div>-->





@code {
    [Parameter] public int id { get; set; }
    private PersonsBiography biography { get; set; }
    //[Parameter] public CastMember CastMember { get; set; }


    string pictureUrl;
    string personName { get; set; } = "vyn Djiesiel";
    string personDesc { get; set; } = "was once a fast boi, now iz a thic boi";
    string movieRating { get; set; } = "6.9";
    bool isPassedAway { get; set; } = false;

    bool isActorDead()
    {
        if (biography.deathday == null)
        {
            isPassedAway = true;
            return true;
        }
        else return false;
    }

    private bool isLoading = false;

    protected async override Task OnInitializedAsync()
    {
        isLoading = true;
        await movieApi.GetPersonsBioAsync(id);

        biography = movieApi.bio;
        pictureUrl = $"https://image.tmdb.org/t/p/w500/{biography.profile_path}";
        isLoading = false;
    }
}
