@page "/likedmovies"
@using SEP6_TEST.Components;
@using SEP6_TEST.DTO;
@using SEP6_TEST.DbAccess;
@using SEP6_TEST.ApiAccess
@using SEP6_TEST.Models
@using SEP6_TEST.BussinesLogic

@inject ILikedMoviesLogic likedMovieLogic
@inject IMovieLogic movieLogic
@inject IMovieInfoDb movieFromDb
@inject IMovieAccessInfoApi movieFromApi
@inject IUserDb currentUser
@inject NavigationManager NavigationManager

<h1 style="margin:auto;text-align:center;margin-bottom:10px">Movie list</h1>
<h1 style="margin:auto;text-align:center;margin-bottom:10px">Hello @user.Username.Substring(0, user.Username.IndexOf('@'))</h1>

<div class="card bg-info mb-3">
    <div class="card-body">
        <form class="form-inline bg-info text-center rounded mx-auto">
            <div class="form-group">
                <p class="m-auto w-100 align-content-center mr-2">Search for any movie</p>
            </div>
            <div class="form-group">
                <label class="sr-only">Movie tite</label>
                <input type="text" class="form-control mx-2" placeholder="Enter movie title" value="@searchString" @oninput="(e)=> searchString = e.Value.ToString()">
            </div>
            <button type="button" class="btn btn-primary ml-2" @onclick="GetMovieFromSearch">Search</button>

            <select @onchange="ReorderMovies" class="form-control1 ml-3" name="Movie Sorting" selected="HighToLow">
                <option disabled selected> -- select an option -- </option>

                @foreach (var order in Enum.GetValues(typeof(OrderMovies)))
                {
                    <option value="@order">@order</option>
                }
            </select>
            <span>@Error</span>
        </form>
    </div>
</div>


@if (isLoading == false)
{
    <div class="container-fluid" style="justify-content:center">
        <div class="row">
            @foreach (var movie in MovieDTOs)
            {
                <div class="col-xl-3" style="margin-bottom:10px" @onclick="@(e => GetMovieDetails(movie.Movie.Id))">
                    <MovieHolderComponent movie="movie">

                    </MovieHolderComponent>
                </div>
            }
        </div>
    </div>
}
else
{
    <span>Loading...</span>
}

@code {
    private List<MovieDTO> MovieDTOs = new List<MovieDTO>();
    private bool isLoading;
    private string searchString = "";
    private string Error;

    private User user;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        user = currentUser.user;
        MovieDTOs = await likedMovieLogic.getAllLikedMovies(user.Username);

        isLoading = false;
    }

    private async Task GetMovieFromSearch()
    {
        if (!string.IsNullOrWhiteSpace(searchString))
        {

            MovieDTOs = await movieFromDb.GetSearchResults(searchString, MovieDTOs);
            if (MovieDTOs.Count == 0)
            {
                Error = "No movies found";
            }
        }
        else
        {
            MovieDTOs = await likedMovieLogic.getAllLikedMovies(user.Username);
            isLoading = false;
        }
    }

    private async Task ReorderMovies(ChangeEventArgs e)
    {
        OrderMovies order = (OrderMovies)Enum.Parse(typeof(OrderMovies), e.Value.ToString());
        MovieDTOs = await movieLogic.ReorderMoviesByRating(order, MovieDTOs);
        if (MovieDTOs.Count == 0)
        {
            MovieDTOs = await likedMovieLogic.getAllLikedMovies(user.Username);
        }
    }

    public void GetMovieDetails(int movieId)
    {
        NavigationManager.NavigateTo($"/movie/{movieId}", true);
    }
}
