
@using SEP6_TEST.Models;
@using SEP6_TEST.DTO;

@inject NavigationManager navigationManager


<div class="card text-white bg-transparent border-info shadow w-auto" style="width: 18rem;">
    @if (!string.IsNullOrEmpty(movie.Movie.Poster))
    {
        <img class="card-img-top border-info rounded" src="@movie.Movie.Poster" alt="Movie Image" width="617" height="625" >
    }
    else
    {
        <img class="card-img-top border-info rounded" src="/Images/diesel.png" alt="Movie Image" width="617" height="625">
    }
    <div class="card-body">
        <h5 class="card-title text-center font-weight-bold border-info">@movie.Movie.Title</h5>
    </div>
    <div class="card-footer bg-info border-info">
        <h6>Year: @movie.Movie.Year</h6>
        <h6>Rating: @movie.Rating.Rating1/10 out of @movie.Rating.Votes ratings</h6>
    </div>
</div>


@code {
    [Parameter] public MovieDTO movie { get; set; }
}
